/**
 * Dark theme variables
 */

@mixin theme() {
  :root {
    --base-color: #F8F8F2;
    --border: dashed 1px rgba(219, 219, 219, 0.9);
    --selection-background: rgba(219, 219, 219, 0.99);
    --selection-text: #44475aab;
    --background-color: #1c1e2b;
    --text-color: var(--base-color);
    --menu-color: var(--code-color-14);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
--code-color-1: #6272A4;
    --code-color-2: #44475A;
    --code-color-3: #FF5555;
    --code-color-4: #44475A;
    --code-color-5: #BD93F9;
    --code-color-6: #FF79C6;
    --code-color-7: #F8F8F2;
    --code-color-8: #F8F8F2;
    --code-color-9: #F1FA8C;
    --code-color-10: #F8F8F2;
    --code-color-11: #44475A;
    --code-color-12: #BD93F9;
    --code-color-13: #8BE9FD;
    --code-color-14: #FFB86C;
    --code-color-15: #50FA7B;
    --code-color-16: #FF79C6;
    --code-color-17: #FF79C6;
    --code-color-18: #F8F8F2;
  }
}
