@font-face {
     font-family: 'JetBrains Mono Hangul';
     src: url('/assets/fonts/JetBrainsMonoNL-Regular-Hangul.woff2') format('woff2'),
          url('/assets/fonts/JetBrainsMonoNL-Regular-Hangul.woff') format('woff'),
          url('/assets/fonts/JetBrainsMonoNL-Regular-Hangul.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
   }
   
 